@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
	text-decoration: none;
	font-family: Oswald;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color:#fff;
}
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: #404149;
}
h1{
	color: #fff;
}
.container{
	max-width: 1110px;
	margin: auto;
}
.red_text{
	color: #F7654A;
}
.title_section{
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	color:#000;
	margin-bottom: 60px;
}

/* header */

.first_screen{
	background: url("img/bg_first-screen.jpg") no-repeat;
	background-size: 100% 100%;
	padding: 20px 0;
}

.logo_top{
	transform-origin: right;
	transform: scale(-1);
	margin-right: -25px;
}
.logo_botoom{
	margin-bottom: -23px;
}

.menu_burger{
	padding: 15px 14px;
	z-index: 3;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #F7654A;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu_burger .line ,.menu_burger:after,.menu_burger:before{
	content: " ";
	width: 21px;
	height: 3px;
	background: #fff;
	position: relative;
	right: 0;
	display: block;
	transform-origin: center;
	transition: all 0.3s ease 0s;
}
.menu_burger .line{
	
}
.menu_burger:after{
	bottom: 10px;
}
.menu_burger:before{
	top:  10px;
}
.menu_burger.active .line ,
.menu_burger.active:after,
.menu_burger.active:before{

}

.menu_burger.active:before{
	transform: rotate(45deg);
	top:3px;
}
.menu_burger.active:after{
	transform: rotate(-45deg);
	bottom: 3px;
}
.menu_burger.active span{
	transform: scale(0);
}

.menu{
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -100%;
	background: #404149;
	width: 100%;
	left: 0;
	padding: 15px 0px;
	transition: all 0.3s ease 0s;
}
.menu.active{
	top: 0;
}
.menu_item{
	color:#fff;
}
.menu_item:hover{
	color:#999;
}


.first_screen h1.title{
	font-size: 64px;
	line-height: 95px;
	text-align: center;
	letter-spacing: 0.02em;
	max-width: 734px;
	margin: auto;
	margin-top: 112px;
}
.first_screen h2.sub_title{
	margin-top: 35px;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #fff;
}

.indicators{
	padding: 57px 0;
	background: #F7F7F7;
	margin: 170px auto -150px auto;
}
.indicators .block h2{
	font-weight: 500;
	font-size: 72px;
	line-height: 107px;
	text-align: center;
}
.indicators .block h3{
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color:#000;
}
.indicators .block h4{
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: #999999;
}

/* projects */

.projects{
	padding: 250px 0 150px 0;
}
.projects .title_section{
	color: #404149;
}
.projects_row{
	margin-top: 60px;
}
.projects_row .projects_img{
	max-width: 350px;
	height: 380px;
}
.projects_row h3.blok_title{
	text-align: left ;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin-top: 15px;
}
.projects_row .block_text{
	margin-top: 20px;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
}
.projects_row .line{
	margin-top: 45px;
	content: " ";
	width: 55px;
	height: 6px;
	background: #F7654A;
	position: relative;
	display: block;
	left: 0;
	top:0;
}

/* request */
.request{
	background: #F7654A;
	padding: 30px 0 45px 0;
}
.request *{
	color:#fff;
}
.request_row{
	align-items: center;
}

.request_title{
	font-weight: bold;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 0.02em;
}
.request_subtitle{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.02em;
}
.request_row .button{
	background: #fff;
	padding: 14px 30px;
	align-items: center;
	color:#000;
}
.request_row .button img{
	color:#000;
	width: 18px;
	height: 21px;
	margin-right: 15px;
}
.request_row .button:hover{
	background: #F7F7F7;
}

/* services */
.services{
	padding: 150px 0;
}
.services_row{
	margin-top: 30px;
	flex-wrap: wrap;
}
.services_row .block{
	margin-top: 30px;
	max-width: 350px;
	max-height: 250px;
	background: #F7F7F7;
	padding: 59px 86px;
	text-align: center;
}
..services_row .block img{
	width: 60px;
	height: 40px;
}
.services_row .block .block_title{
	margin-top: 30px;
	text-align: center;
	font-weight: 500;
	font-size: 21px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.02em;
}

/* portfolio */
.portfolio .container{
	max-width: 100%;
	margin: 0;
}
.portfolio_row{
	flex-wrap: wrap;
}
.portfolio_row .block{
	flex-basis: 25%;
}
.portfolio_row .block img{
	width: 100%;
}

/* questions */

.questions{
	padding: 150px 0;
}

.questions li{
	list-style: inside square url("img/arrow.svg");
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
}
.question_block.active{
	list-style: inside square url("img/arrow_down.svg");
}

.qustion{
	text-align: left;
}
.qustion_text{
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
	max-width: 730px;
	display: none;
}

/* partners */

.partners{
	padding: 100px 0;
	background: #404149;
}
.partners .title_section{
	color:#fff;
}
.partners .row{
	margin-top: 60px;
}

/* reviews */
.reviews{
	padding: 150px 0;
}
.reviews .title_section{
	margin-bottom: 60px;
}

.reviews_item{
	max-width: 350px;
}

.reviews_item ,.reviews_item *{
	text-align: left;
}

.reviews_item .text_block{
	background: #F7F7F7;
	padding: 40px 30px;
	color: #999999;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}
.reviews_item .text_block .big_cos{
	margin-bottom: -50px;
	font-weight: bold;
	font-size: 96px;
	line-height: 142px;
	text-transform: uppercase;
	color: #F7654A;
}

/* contacts */
.contacts{
	padding: 100px 0 150px 0;
}

.contacts .block{
	text-align: center;
	max-width: 250px;
}
.contact_type{
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #999999;
	margin-bottom: 25px;
}
.contact_value{
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}
.contact_value:hover{
	color: #F7654A;
}

.contact_img{
	width: 71px;
	height: 50px;
	margin-bottom: 15px;
}

/* footer */
.footer{
	background: #404149;
	padding: 30px 0;
}
.footer *{
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
}